@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Poppins', sans-serif;
}

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-950 text-gray-50;
}
